

p{
    color: blue;
    font-family: 'Times New Roman', 'Times', 'serif';
}

/* form {
    background-color: aqua;
        padding: 1%;
} */

form textarea {
    background-color: greenyellow;

}

.tile {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border: 5px solid cyan;
    margin: 10px auto;
    float: left;
    display: table-row;
}

ol {
    color: rgb(236, 43, 17);
}

